# Database Configuration
DB_HOST=host
DB_PORT=3306
DB_USER=user
DB_PASSWORD=pass
DB_NAME=hospital_management

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=is-this-secret-enough-miaw

# Session Secret
SESSION_SECRET=miaw-miaw-miaw
